<h1>Domains</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user.domains.each do |domain| %>
      <tr>
        <td><%= domain.id %></td>
        <td><%= domain.name %></td>
        <td><%= domain.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_domain_path(domain), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', domain_path(domain), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_domain_path, :class => 'btn btn-primary' %>
